apiVersion: apps/v1
kind: Deployment
metadata:
  name: kafka-consumer
  namespace: blackfriday
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kafka-consumer
  template:
    metadata:
      labels:
        app: kafka-consumer
    spec:
      containers:
      - name: kafka-consumer
        image: <IP-EXTERNA-DE-TU-VM>:5000/kafka-consumer-go:v4
        env:
        - name: KAFKA_BROKER
          value: "my-cluster-kafka-bootstrap:9092"
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
